body {
  background-color: #cbeef3;
  
  text-align: center;
  font-family: Verdana;
}
/*
You can change the margin if you think the gap between the belivability and question num is too much
*/
#progress{
  margin-right: 50px;
}

.choiceButton {
  width: 30%;
  height: 50px;
  background-color: #f49cbb;
  text-color: #880d1e;
  border-style: double;
  border-width:3px;
  border-radius: 10px;
  padding:15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.choiceButton:hover{
  background-color: #f26a8d;
}
