body {
  background-color: #cad2c5;
  
  text-align: center;
  font-family: "Verdana", Arial;
}
#wegnerImage{
  width: 300px;
  height: 300px;
  background-image: url('wegner.jpg'); 
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 3px solid;
}
#pangeaImage{
  width: 267px;
  height: 314px;
  background-image: url('pangea.png'); 
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 3px solid;
}
/*
You can change the margin if you think the gap between the belivability and question num is too much
*/
#progress{
  margin-right: 40px;
}

.choiceButton {
  width: 33%;
  height: 50px;
  background-color: #52796f;
  color: #2f3e46;
  border-style: double;
  border-width:3px;
  border-radius: 10px;
  padding:15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.choiceButton:hover{
  background-color: #84a98c;
}
