body {
  background-color: #f0e6ef;
  
  text-align: center;
  font-family: Verdana;
}
#wegnerImage{
  width: 300px;
  height: 300px;
  background-image: url('wegner.jpg'); 
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/*
You can change the margin if you think the gap between the belivability and question num is too much
*/
#progress{
  margin-right: 40px;
}

.choiceButton {
  width: 30%;
  height: 50px;
  background-color: #efc3e6;
  color: #9c89b8;
  border-style: double;
  border-width:3px;
  border-radius: 10px;
  padding:15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.choiceButton:hover{
  background-color: #f0a6ca;
}
